body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/125/169/original/Kuro_Chroma_Grainy_Gradients_Abstract_Shapes_07.png?1714596812");
  background-color: rgb(226, 231, 237);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: scroll;
}
