.App {
  font-family: "Urbanist", sans-serif;
}

.AppContainer {
  margin: 100px auto;
  padding: 0 30px;
  display: flex;
  max-width: 600px;
  justify-content: center;
  align-items: top;
  background-color: #f4f4f485;
  border-radius: 20px;
  box-shadow: 10px 10px 19px #827e7e60;
}
