.Search {
  align-items: center;
  margin-top: 20px;
}

#city-input {
  background-color: #f4f4f400;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.6px solid #4d4d4d;
  width: 380px;
  color: #808080;
  padding: 5px 20px 5px 0;
  outline: none;
  margin: 10px 40px 10px 0;
}

::placeholder {
  color: #808080;
  opacity: 1;
  font-size: 16px;
  font-weight: 400;
  padding-left: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

#submit-bttn {
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  color: #eae9e2;
  background-color: #181818;
  margin-right: 5px;
}
